body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:#f2f2f2;

}
.navbar {
    

    overflow: hidden;
    background-color: #ebe9e9;
    border-radius:25px;
    box-shadow: 0px 8px 16px 0px #e4e4e4;
}
.logo{
    float: left;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 0px;
    border-radius: 50%;
}
.navbar a {
    float: right;
    font-size: 16px;
    color: #424242;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.6s ease;
}
.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: #424242;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 25px;
    transition: 0.6s ease;
}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color:#f2f2f2;
    transition: 0.6s ease;
    font-weight: bold;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color:rgba(230, 230, 230, 0.979);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(7, 11, 241, 0.096);
    z-index: 1;
    border-radius: 22px;
    transition: 0.6s ease-in-out;

}

.dropdown-content a{
    float: none;
    color: #424242;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.6s;

}
.dropdown-content a:hover {
    background-color:#82cdff;
    transition: 0.6s;

}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.6s;
}

.navbar input[type=text]{
    background-color: #f2f2f2;
    float: left;
    padding: 8px;
    margin-left: 50px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
}

@media screen and (max-width: 600px){
    .navbar a, .navbar input[type=text]{
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .navbar input[type=text]{
        border: 1px solid #CCC;
    }
}
/* Image Slideshow */

/* * {box-sizing: border-box} */

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 5px;
    
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #82cdff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin:0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #82cdff;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}


/* Novel gallery */

* {
    box-sizing: border-box;
  }
  
  /* body {
    background-color: #f2f2f2;
    padding: 20px;
    font-family: Arial;
  } */
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px 5px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; /* Hide columns by default */
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color:#ebe9e9;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #ebe9e9;
    cursor: pointer;
  }
  
  /* Add a grey background color on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background color to the active button */
  .btn.active {
    background-color: #666;
     color: white;
  }
h2{
    color: rgb(90, 185, 248);

}